<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.family_name %>
        <%= @user.name %> <br />
        <%= @user.patronymic %>
      </h1>
    </section>
     <section>
      <pre><br />    Факультет:      <red><%= @user.faculty %></red><br />
    Кафедра:        <red><%= @user.chair %></red><br />
    Специальность:  <red><%= @user.branch %></red><br />
    Год выпуска:    <red><%= @user.year_off %></red></pre>
    </section>
  </aside>
  <div class="span8">
	  <h3>Места работы (<%= @user.jobs.count %>)</h3>
    	 <% @jobs_items.each do |jobs_item| %>

    
      	 <% if jobs_item.active == true %>
      		<li style="background-color: #00FF7F; border-radius: 10px;">
      	 	  <section style="margin-top: 1em; margin-left: 2em">
        		<p> Компания: <%= jobs_item.namecompany %></p> 
        		<p> Адрес:  <%= jobs_item.address %> </p> 
        		<p> Должность: <%= jobs_item.post %> 
        		<p> Статус: 
        		<% if jobs_item.active == true %>
        	 	Работаю 
        		<% else %>
        	 	Уволен        
        		<% end %>
    			</p>
    	 	  </section>
    		</li>
    	<% else %>
    		<li style="background-color: #FA8072; border-radius: 10px;">
      	 	  <section style="margin-top: 1em; margin-left: 2em">
        		<p> Компания: <%= jobs_item.namecompany %></p> 
        		<p> Адрес:  <%= jobs_item.address %> </p> 
        		<p> Должность: <%= jobs_item.post %> 
        		<p> Статус: 
        		<% if jobs_item.active == true %>
        	 	Работаю 
        		<% else %>
        	 	Уволен        
        		<% end %>
    			</p>
    	 	  </section>
    		</li>
    	<% end %>  
      <% end %>   	
  </div>
</div>
