 <div class="row">
    <aside class="span4">
      <section>
	     <%= form_for(@faculty) do |f| %>
       		<%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.label "Добавление факультета в БД" %>
          <%= f.text_field :namefaculty, placeholder: "Наименование факультета..." %>
        </div>
          <%= f.submit "Добавить", class: "btn btn-large btn-primary" %>
       <% end %>
      </section>
    </aside>
    <div class="span8">
      <h3>Список факультетов</h3>
        <ol class="microposts">
        <%= render partial: 'shared/faculty_item',
                   collection: @faculty_items %>
        </ol>
        <%= will_paginate @faculty_items %>
    </div>
  </div>
