<% provide(:title, "Edit user") %>
<h1>Редактирование аккаунта</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label "Имя" %>
      <%= f.text_field :name %>

      <%= f.label "Фамилия" %>
      <%= f.text_field :family_name %>

      <%= f.label "Отчество" %>
      <%= f.text_field :patronymic %>

      <%= f.label :email %>
      <%= f.text_field :email %>


      <%= f.label "Специальность" %>
      <%= f.collection_select(:branch, Branch.all, :namebranch, :namebranch, :include_blank => true) %>



      <%= f.label "Год выпуска(цифрами)" %>
      <%= f.text_field :year_off %>

      <%= f.label "Пароль" %>
      <%= f.password_field :password %>


      <%= f.label :password_confirmation, "Подтверждение пароля" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">изменить</a>
  </div>
</div>
