<li id="<%= branch_item.id %>">
    
    <span class="namebranch"> Специальность: <red><%= branch_item.namebranch %></red> &nbsp; => &nbsp; </span>
    <span class="namechair"> Кафедра: <red><%= branch_item.chair.namechair %></red> &nbsp; => &nbsp; </span>
    <span class="facultychair"> Факультет:  <red> <%= branch_item.chair.faculty.namefaculty %></red></span>
    <span class="timestamp"><br />
      Create <%= time_ago_in_words(branch_item.created_at) %> ago.
    </span>
  <% if current_user.admin? %>
    <%= link_to "Удалить", branch_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: branch_item.namebranch %>
  <% end %>
</li>