 <% if @jobs_items.any? %>
  <ol class="microposts">
  	<h3>Места работы (<%= @user.jobs.count %>)</h3>
    <% @jobs_items.each do |jobs_item| %>

    <div class="row" >
      <div class="span8">
      	<% if jobs_item.active == true %>
      		<li style="background-color: #00FF7F; border-radius: 10px;">      	 	  
    	<% else %>
    		<li style="background-color: #FA8072; border-radius: 10px;">
      <% end %>
      	 	  <section style="margin-top: 1em; margin-left: 2em">
        		<p> Компания: <%= jobs_item.namecompany %></p> 
        		<p> Адрес:  <%= jobs_item.address %> </p> 
        		<p> Должность: <%= jobs_item.post %> 
        		<p> Статус: 
        		<% if jobs_item.active == true %>
        	 	Работаю 
        		<% else %>
        	 	Уволен        
        		<% end %>
    			</p>
    			<p>  <%= link_to "Удалить", jobs_item, method: :delete,
                                  data: { confirm: "You sure?" } %>
              <% if jobs_item.active == true %>
              или  <%= link_to "Уволится", jobs_item, method: :put,
                                  data: { confirm: "You sure?" } %>
              <% end %>
          </p>
    	 	  </section>
    		</li>     	
      </div>
    </div>
    <% end %>
  </ol>
<% end %>